body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .cadastro-container {
    background-color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .cadastro-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
  }
  
  .cadastro-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
  }
  
  .cadastro-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .cadastro-container button {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .cadastro-container button:hover {
    background-color: #ccc;
  }
  
  .cadastro-container a {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .cadastro-container a:hover {
    text-decoration: underline;
  }
  